# Dependencies
node_modules
**/node_modules
node_modules/

# Environment Variables
.env
.env.*

# Build outputs
dist/
build/
**/.DS_Store
.DS_Store
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
